<body>
    <h1>Værmelding</h1>
    <table>
        <thead>
            <tr>
                <th>Dato</th>
                <th>Temperatur (°C)</th>
                <th>Kommentar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-05-21</td>
                <td>20</td>
                <td>Delvis skyet</td>
            </tr>
        </tbody>
    </table>
</body>